
<link href="/styles/default.css" type="text/css" rel="stylesheet"/>
<header>
    <div class="header">
        <h1>Patrick Scott's Porfolio</h1>
        <div class="header_navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="leetcode_solutions.html">LeetCode Solutions</a></li>
                <li><a href="roadmap.html">DevOps RoadMap</a></li>
            </ul>
        </div>
    </div>
</header>
<script src="/scripts/include.js"></script>