:root {
  background-color: #313638;
  font-size: 62.5%; /* This size is used because the default font size of most browsers is 16 pixels. 62.5% of 16 is 10. This way when we use rem the changes are increments of 10.*/
}

* {
  box-sizing: border-box; /*If I add a border to a box then the border is included in the calculated size of the box.*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #E0DFD5;
  margin: 0; /*This and padding gives us control over margins and padding*/
  padding: 0;
}

/* Utility Classes */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80rem; /*This sets the container size to 800px*/
    margin: 0 auto; /*As the screen gets bigger the container stays a consistent size. As the screen gets smaller the container maintains formatting.*/
}

/*index.html*/
#index, #projects
{
    text-align: center;
}

#index h1, #projects h1 
{
    font-size: 7rem;
}

#index p, #projects p 
{
    font-size: 3rem;
    margin-top: 4rem;
}

/*leetcode_solutions*/
#leetcode_solutions p:first-child
{
    font-size: 3rem;
    margin: 1rem;
}

/*roadmap*/
#roadmap p:first-child
{
    font-size: 3rem;
    margin: 1rem;
}

/*Nav bar*/
.header h1 
{
  text-align: center;
  font-size: 5rem;
  padding: 2.0rem;
}

.header_navbar ul
{
  list-style-type: none;
  background-color: #F09D51;
  overflow: hidden;
  margin: .5%;
  padding: 0;
}

.header_navbar li
{
  float: left;
  margin: .5%;
  padding: 0;
}

.header_navbar li a
{
  display: block;
  text-decoration: none;
  color: #313638;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 1.5rem;
}

.header_navbar li a:hover
{
  background-color: #f7ae69;
  transform: scale(1.15);
}

/*Footer*/
.footer
{
    font-size: 1.5rem;
    padding: 1rem 0rem 1.5rem 0rem; 
    text-align: center;
    color: #313638;
    background-color: #F09D51;
}

.footer a
{
    color: #313638;
    text-decoration: none;
}

.footer a:hover
{
    font-size: 1.75rem;
}

/*email_form*/
.container #email_form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.email_label
{
    font-size: 2rem;
}

.email_form_content
{
    margin: 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: #000000;
    font-size: 1.75rem;
    background-color: #dedcdc;
}

#submit_reset_btns
{
    background-color: #7D938A;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0 0;
    color: #ffffff;
    box-shadow: 0 5px #1f1f1f;
}

#submit_reset_btns:hover
{
    background-color: #678076;
    color: #cbcbcb;
}

#submit_reset_btns:active
{
    background-color: #384f46;
    box-shadow: 0 1px #000000;
    transform: translateY(4px);
}